<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393680004307-t33q5cjsh4f966oe7aqfm9rkn1rcnn5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393680004307-t33q5cjsh4f966oe7aqfm9rkn1rcnn5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCQUd3H4LvMbo9NkX5XmeYZ6Bfx99Q9ql4</string>
	<key>GCM_SENDER_ID</key>
	<string>393680004307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anon.my</string>
	<key>PROJECT_ID</key>
	<string>anonmy-22c31</string>
	<key>STORAGE_BUCKET</key>
	<string>anonmy-22c31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393680004307:ios:04a70f799c4d3f39b8e026</string>
</dict>
</plist>